.sandesh {
    font-weight: bolder;
    font-size: 1.3em;
    text-decoration: none;
}

textarea, textarea:before, textarea:after,
input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.d-none{
    display:none!important
}

@media (max-width:768px){
    .d-md-none{
        display:none!important
    }
    .d-md-block{
        display:block!important
    }
}

@media (max-width:576px){
    .d-sm-none{
        display:none!important
    }
    .d-sm-block{
        display:block!important
    }
}

.mt-20 {
    margin-top: 20px;
}


